// ============================================================================
// Chatbot Main - Message - Content - Text
// ============================================================================

.pf-chatbot__message-and-actions {
  width: 100%;

  blockquote {
    .pf-chatbot__message-text {
      display: inline-block;
    }
  }
}

// Need to inline shorter text
.pf-chatbot__message-text {
  width: fit-content;
  padding: var(--pf-t--global--spacer--sm) 0 var(--pf-t--global--spacer--sm) 0;
  border-radius: var(--pf-t--global--border--radius--small);

  .pf-v6-c-button.pf-m-link {
    font-size: var(--pf-t--global--font--size--md);
  }

  .pf-v6-c-content,
  .pf-v6-c-content--small,
  .pf-v6-c-content--blockquote,
  p,
  a {
    --pf-v6-c-content--FontSize: var(--pf-t--global--font--size--md);
  }

  code {
    background-color: var(--pf-t--global--background--color--tertiary--default);
    font-size: var(--pf-t--global--font--size--body--default);
  }
}

.pf-chatbot__message--user {
  .pf-chatbot__message-text {
    background-color: var(--pf-t--global--color--brand--default);
    color: var(--pf-t--global--text--color--on-brand--default);
    --pf-v6-c-content--Color: var(--pf-t--global--text--color--on-brand--default);
    padding: var(--pf-t--global--spacer--sm);
    .pf-v6-c-button__icon {
      --pf-v6-c-button__icon--Color: var(--pf-t--global--text--color--on-brand--default);
    }

    .pf-v6-c-content,
    .pf-v6-c-content--small,
    .pf-v6-c-content--blockquote,
    p,
    a {
      color: var(--pf-t--global--text--color--on-brand--default);
    }
  }
}

// ============================================================================
// Information density styles
// ============================================================================
.pf-chatbot.pf-m-compact {
  // Need to inline shorter text
  .pf-chatbot__message-text {
    .pf-v6-c-button.pf-m-link {
      font-size: var(--pf-t--global--font--size--sm);
    }

    .pf-v6-c-content,
    .pf-v6-c-content--small,
    .pf-v6-c-content--blockquote,
    p,
    a {
      --pf-v6-c-content--FontSize: var(--pf-t--global--font--size--sm);
    }

    .pf-v6-c-content--blockquote {
      --pf-v6-c-content--blockquote--PaddingBlockStart: 0;
      --pf-v6-c-content--blockquote--PaddingBlockEnd: 0;
    }
  }
}
