// ============================================================================
// Chatbot Main - Message - Content - Text
// ============================================================================

.pf-chatbot__message-and-actions {
  blockquote {
    .pf-chatbot__message-text {
      display: inline-block;
    }
  }
}

// Need to inline shorter text
.pf-chatbot__message-text {
  width: fit-content;
  padding: var(--pf-t--chatbot-message--type--padding) 0 var(--pf-t--chatbot-message--type--padding) 0;
  border-radius: var(--pf-t--chatbot-message--type--border--radius);

  .pf-v6-c-content,
  .pf-v6-c-content--small,
  .pf-v6-c-content--blockquote,
  p,
  a {
    --pf-v6-c-content--FontSize: var(--pf-t--chatbot--font-size);
  }

  code {
    background-color: var(--pf-t--chatbot-message--type--background--color--default);
    font-size: var(--pf-t--global--font--size--body--default);
  }
}

.pf-chatbot__message--user {
  .pf-chatbot__message-text {
    background-color: var(--pf-t--chatbot-message--type--background--color--primary);
    color: var(--pf-t--chatbot-message--type--text--color--primary);
    padding: var(--pf-t--chatbot-message--type--padding);

    .pf-v6-c-content,
    .pf-v6-c-content--small,
    .pf-v6-c-content--blockquote,
    p,
    a {
      color: var(--pf-t--chatbot-message--type--text--color--primary);
    }

    code {
      background-color: initial;
    }
  }
}
