@import './AttachMenu/AttachMenu';
@import './ChatbotConversationHistoryNav/ChatbotConversationHistoryNav';
@import './Chatbot/Chatbot';
@import './ChatbotToggle/ChatbotToggle';
@import './ChatbotContent/ChatbotContent';
@import './ChatbotHeader/ChatbotHeader';
@import './ChatbotFooter/ChatbotFooter';
@import './ChatbotWelcomePrompt/ChatbotWelcomePrompt';
@import './CodeModal/CodeModal';
@import './FileDetails/FileDetails';
@import './FileDetailsLabel/FileDetailsLabel';
@import './FileDropZone/FileDropZone';
@import './MessageBar/MessageBar';
@import './MessageBox/MessageBox';
@import './Message/Message';
@import './ChatbotPopover/ChatbotPopover';

:where(:root) {
  // ============================================================================
  // Chatbot Custom Default Tokens
  // ============================================================================

  --pf-t--chatbot--heading--font-family: var(
      --pf-v6-c-content--heading--FontFamily,
      redhatdisplayvf,
      redhatdisplay,
      helvetica,
      arial,
      sans-serif
  );

  --pf-t--chatbot--illustration--fill: var(--pf-t--color--red--50);
  --pf-t--chatbot--code--background: var(--pf-t--color--gray--20);
  --pf-t--chatbot--jump--background: var(--pf-t--chatbot--background);
  --pf-t--chatbot--jump--background--hover: var(--pf-t--color--white);

  --pf-t--chatbot-toggle--background--hover: var(--pf-t--color--gray--70);

  --pf-t--chatbot--timing-function: cubic-bezier(0.77,0,0.175,1);

  --pf-t--chatbot--blue-icon--background--color--hover: rgba(185, 218, 252, .25); // --pf-t--global--color--nonstatus--blue--default @ 25%
  --pf-t--chatbot--blue-icon--fill--hover: var(--pf-t--global--color--brand--hover);

  // ============================================================================
  // Chatbot Default tokens using PF semantic tokens
  // ============================================================================
  --pf-t--chatbot-toggle--color: var(--pf-t--global--icon--color--inverse);

  --pf-t--chatbot--font-size: var(--pf-t--global--font--size--md);
  --pf-t--chatbot--background: var(--pf-t--global--background--color--secondary--default);
  --pf-t--chatbot--border: var(--pf-t--global--border--color--default);

  --pf-t--chatbot--icon--fill: var(--pf-t--global--icon--color--subtle);
  --pf-t--chatbot--icon--fill--hover: var(--pf-t--global--icon--color--regular);
  --pf-t--chatbot--icon--fill--active: var(--pf-t--global--text--color--regular);

  --pf-t--chatbot--blue-icon--fill: var(--pf-t--global--color--brand--default);
}

// ============================================================================
// Chatbot Custom Dark Theme Tokens
// ============================================================================
:where(.pf-v6-theme-dark) {
  --pf-t--chatbot--illustration--fill: var(--pf-t--color--white);
  --pf-t--chatbot--code--background: var(--pf-t--color--gray--60);
  --pf-t--chatbot--jump--background--hover: var(--pf-t--color--black);

  --pf-t--chatbot-toggle--background--hover: var(--pf-t--color--gray--20);

  --pf-t--chatbot--blue-icon--background--color--hover: var(--pf-t--global--color--brand--hover);
  --pf-t--chatbot--blue-icon--fill--hover: var(--pf-t--global--icon--color--inverse);

}

.ws-full-page-utils {
  left: 0 !important;
  right: auto !important;
}

/* This is for the Code Modals, so they act like they're part of the
/* chatbot. The PF modal doesn't allow us to change the position in
/* a more targeted way, because you can only add classes onto the
/* dialog itself.  */
.pf-v6-c-backdrop {
  position: static;
}

