@import './AttachMenu/AttachMenu';
@import './Chatbot/Chatbot';
@import './ChatbotAlert/ChatbotAlert';
@import './ChatbotContent/ChatbotContent';
@import './ChatbotConversationHistoryNav/ChatbotConversationHistoryNav';
@import './ChatbotFooter/ChatbotFooter';
@import './ChatbotHeader/ChatbotHeader';
@import './ChatbotPopover/ChatbotPopover';
@import './ChatbotToggle/ChatbotToggle';
@import './ChatbotWelcomePrompt/ChatbotWelcomePrompt';
@import './CodeModal/CodeModal';
@import './FileDetails/FileDetails';
@import './FileDetailsLabel/FileDetailsLabel';
@import './FileDropZone/FileDropZone';
@import './Message/Message';
@import './Message/CodeBlockMessage/CodeBlockMessage';
@import './Message/TextMessage/TextMessage';
@import './Message/ListMessage/ListMessage';
@import './Message/MessageLoading';
@import './MessageBar/MessageBar';
@import './MessageBox/MessageBox';
@import './MessageBox/JumpButton';
@import './ResponseActions/ResponseActions';
@import './SourcesCard/SourcesCard.scss';
@import './SourceDetailsMenuItem/SourceDetailsMenuItem';

:where(:root) {
  // ============================================================================
  // Chatbot Custom Default Tokens
  // ============================================================================

  --pf-t--chatbot--heading--font-family: var(
    --pf-v6-c-content--heading--FontFamily,
    redhatdisplayvf,
    redhatdisplay,
    helvetica,
    arial,
    sans-serif
  );

  --pf-t--chatbot--illustration--fill: var(--pf-t--color--red--50);
  --pf-t--chatbot--code--background: var(--pf-t--color--gray--20);

  --pf-t--chatbot-toggle--background--hover: var(--pf-t--color--gray--70);

  --pf-t--chatbot--timing-function: cubic-bezier(0.77, 0, 0.175, 1);

  --pf-t--chatbot--blue-icon--background--color--hover: rgba(
    185,
    218,
    252,
    0.25
  ); // --pf-t--global--color--nonstatus--blue--default @ 25%
  --pf-t--chatbot--blue-icon--fill--hover: var(--pf-t--global--color--brand--hover);

  // ============================================================================
  // Chatbot Default tokens using PF semantic tokens
  // ============================================================================
  --pf-t--chatbot-toggle--color: var(--pf-t--global--icon--color--inverse);

  --pf-t--chatbot--font-size: var(--pf-t--global--font--size--md);
  --pf-t--chatbot--background: var(--pf-t--global--background--color--secondary--default);
  --pf-t--chatbot--border: var(--pf-t--global--border--color--default);

  --pf-t--chatbot--icon--fill: var(--pf-t--global--icon--color--subtle);
  --pf-t--chatbot--icon--fill--hover: var(--pf-t--global--icon--color--regular);
  --pf-t--chatbot--icon--fill--active: var(--pf-t--global--text--color--regular);

  --pf-t--chatbot--blue-icon--fill: var(--pf-t--global--color--brand--default);
}

// ============================================================================
// Chatbot Custom Dark Theme Tokens
// ============================================================================
:where(.pf-v6-theme-dark) {
  --pf-t--chatbot--illustration--fill: var(--pf-t--color--white);
  --pf-t--chatbot--code--background: var(--pf-t--color--gray--60);

  --pf-t--chatbot-toggle--background--hover: var(--pf-t--color--gray--20);

  --pf-t--chatbot--blue-icon--background--color--hover: var(--pf-t--global--color--brand--hover);
  --pf-t--chatbot--blue-icon--fill--hover: var(--pf-t--global--icon--color--inverse);
}

.ws-full-page-utils {
  left: 0 !important;
  right: auto !important;
}
