.pf-chatbot__menu.pf-v6-c-menu {
  --pf-v6-c-menu--BorderRadius: var(--pf-t--global--border--radius--large);
  --pf-v6-c-menu__list-item--hover--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
}

.pf-chatbot__menu {
  /* search input */
  .pf-v6-c-text-input-group {
    --pf-v6-c-text-input-group__text--BorderStartStartRadius: var(--pf-t--global--border--radius--pill);
    --pf-v6-c-text-input-group__text--BorderStartEndRadius: var(--pf-t--global--border--radius--pill);
    --pf-v6-c-text-input-group__text--BorderEndStartRadius: var(--pf-t--global--border--radius--pill);
    --pf-v6-c-text-input-group__text--BorderEndEndRadius: var(--pf-t--global--border--radius--pill);
  }
  .pf-v6-c-text-input-group__text-input:focus-visible {
    border-radius: var(--pf-t--global--border--radius--pill);
  }

  .pf-v6-c-menu__group {
    /* there is spacing between groups because of this normally, even if there's no title */
    .pf-v6-c-menu__group-title {
      height: 0;
      --pf-v6-c-menu__group-title--PaddingBlockStart: var(--pf-t--global--spacer--sm);
      --pf-v6-c-menu__group-title--PaddingBlockEnd: 0;
      --pf-v6-c-menu__group-title--PaddingInlineStart: 0;
      --pf-v6-c-menu__group-title--PaddingInlineEnd: 0;
    }
  }

  /* spacing between icon and text in menu item */
  .pf-v6-c-menu__item-main {
    --pf-v6-c-menu__item-main--ColumnGap: var(--pf-t--global--spacer--md);
  }

  .pf-v6-c-menu__list {
    padding: 0rem var(--pf-t--global--spacer--md) 0rem var(--pf-t--global--spacer--md);
  }

  /* handles hover state, which uses a background */
  .pf-v6-c-menu__list-item {
    border-radius: var(--pf-t--global--border--radius--small);
    overflow: hidden;
  }

  .pf-v6-c-menu__item {
    padding-inline-start: var(--pf-t--global--spacer--md);
    padding-inline-end: var(--pf-t--global--spacer--md);
  }

  .pf-v6-c-menu__item-icon {
    display: flex;
    justify-content: center;
    width: 21px;
  }

  .pf-v6-c-menu__item-description {
    font-weight: 500;
  }

  .pf-v6-c-divider {
    padding: 0 var(--pf-t--global--spacer--md) 0 var(--pf-t--global--spacer--md);
  }

  // this is only used in demo code
  .pf-chatbot__object > .pf-v6-c-menu__item-main > .pf-v6-c-menu__item-icon {
    width: 24px;
    color: var(--pf-t--global--icon--color--status--custom--default);
  }
}
