.pf-chatbot__menu.pf-v6-c-menu {
  --pf-v6-c-menu--BorderRadius: var(--pf-t--global--border--radius--large);
}

.pf-chatbot__menu {
  /* search input */
  .pf-v6-c-text-input-group {
    --pf-v6-c-text-input-group__text--BorderStartStartRadius: var(--pf-t--global--border--radius--pill);
    --pf-v6-c-text-input-group__text--BorderStartEndRadius: var(--pf-t--global--border--radius--pill);
    --pf-v6-c-text-input-group__text--BorderEndStartRadius: var(--pf-t--global--border--radius--pill);
    --pf-v6-c-text-input-group__text--BorderEndEndRadius: var(--pf-t--global--border--radius--pill);
  }
  .pf-v6-c-text-input-group__text-input:focus-visible {
    border-radius: var(--pf-t--global--border--radius--pill);
  }

  .pf-v6-c-menu__group {
    /* there is spacing between groups because of this normally, even if there's no title */
    .pf-v6-c-menu__group-title {
      height: 0;
      --pf-v6-c-menu__group-title--PaddingBlockStart: 0;
      --pf-v6-c-menu__group-title--PaddingBlockEnd: 0;
      --pf-v6-c-menu__group-title--PaddingInlineStart: 0;
      --pf-v6-c-menu__group-title--PaddingInlineEnd: 0;
    }
  }

  /* spacing between icon and text in menu item */
  .pf-v6-c-menu__item-main {
    --pf-v6-c-menu__item-main--ColumnGap: var(--pf-t--global--spacer--md);
  }

  .pf-v6-c-menu__list {
    padding: 0rem var(--pf-t--global--spacer--md) 0rem var(--pf-t--global--spacer--md);
  }

  /* handles hover state, which uses a background */
  .pf-v6-c-menu__list-item {
    border-radius: var(--pf-t--global--border--radius--small);
    overflow: hidden;
  }

  .pf-v6-c-menu__item-icon {
    --pf-v6-c-menu__item--icon--Color: #707070;
    display: flex;
    justify-content: center;
    width: 24px;
  }

  .pf-v6-c-menu__item-description {
    font-weight: 500;
  }
}

.pf-v6-theme-dark {
  .pf-chatbot__menu.pf-v6-c-menu {
    --pf-v6-c-menu--Color: #f2f2f2;
    --pf-v6-c-menu--BackgroundColor: #383838;
    --pf-v6-c-menu__list-item--hover--BackgroundColor: #1f1f1f;
  }
  .pf-v6-c-menu__item-icon {
    --pf-v6-c-menu__item--icon--Color: #c7c7c7;
  }
  .pf-chatbot__menu-operator {
    color: #fff;
  }
}
