.pf-chatbot__code-language {
  color: var(--pf-t--global--text--color--subtle);
  display: flex; // this is needed for when FileDetailsLabel is clickable
  font-size: var(--pf-t--global--icon--size--font--xs);
  font-weight: 500;
}

.pf-chatbot__code-icon {
  background-color: #37a3a3;
  border-radius: var(--pf-t--global--border--radius--tiny);
  width: 24px;
  height: 24px;
}

.pf-chatbot__code-fileName {
  font-size: var(--pf-t--global--font--size--body--default);
}

.pf-chatbot__file-details-example {
  background: gray;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
