.pf-chatbot__code-language {
  color: var(--pf-t--global--text--color--subtle);
  display: flex; // this is needed for when FileDetailsLabel is clickable
  font-size: var(--pf-t--global--icon--size--font--xs);
  font-weight: 500;
}

.pf-chatbot__code-icon {
  color: var(--pf-t--global--icon--color--status--custom--default);
  width: 24px;
  height: 24px;
}

.pf-chatbot__code-fileName {
  font-size: var(--pf-t--global--font--size--body--default);
}

// This is used in demos only
.pf-chatbot__file-details-example {
  background: var(--pf-t--global--background--color--secondary--default);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
