// Import related component scss files.
@import './ChatbotFootnote';

// ============================================================================
// Chatbot Footer
// ============================================================================
.pf-chatbot__footer {
  --pf-chatbot__footer--RowGap: var(--pf-t--global--spacer--md);

  background-color: var(--pf-t--chatbot--background);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  row-gap: var(--pf-chatbot__footer--RowGap);
}

// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot--fullscreen {
  .pf-chatbot__footer {
    padding: var(--pf-t--global--spacer--sm) 12rem;

    .pf-v6-c-divider {
      display: none;
    }
  }
}

// ============================================================================
// Chatbot Display Mode - Docked
// ============================================================================
.pf-chatbot--docked {
  .pf-chatbot__footer {
    padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--lg);

    .pf-v6-c-divider {
      display: none;
    }
  }
}
