// ============================================================================
// Chatbot Popover
// ============================================================================
.pf-chatbot__popover {
  .pf-v6-c-popover__arrow { display: none; }

  // Footnote popover
  &--footnote.pf-chatbot__popover {

    // Contents
    img { border-radius: var(--pf-t--global--border--radius--small); }
    .pf-v6-c-content--h3 { font-weight: var(--pf-t--global--font--weight--body--bold); }
    .pf-v6-c-content--p {
      font-size: var(--pf-t--global--font--size--body--lg);
    }

    // Actions
    .pf-v6-c-button {
      font-weight: var(--pf-t--global--font--weight--body--bold);
      font-size: var(--pf-t--global--font--size--body--lg);
    }
    .pf-v6-c-content--a {
      font-size: var(--pf-t--global--font--size--body--lg);
    }
  }

}
