.pf-chatbot__settings-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.pf-chatbot__settings-form {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  flex: 1;
}

.pf-chatbot__settings-form-row {
  font-size: var(--pf-t--global--font--size--body--lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--pf-t--global--border--color--default);
  padding: var(--pf-t--global--spacer--lg);
  font-weight: var(--pf-t--global--font--weight--body--bold);
}

.pf-chatbot__settings-form-row:last-of-type {
  border-bottom: 0px;
}

.pf-chatbot__settings--title {
  font-family: var(--pf-t--global--font--family--heading);
  font-size: var(--pf-t--global--font--size--xl);
  font-weight: var(--pf-t--global--font--weight--body--bold);
  text-align: center;
}
