// ============================================================================
// Chatbot Header
// ============================================================================
.pf-chatbot__header {
  position: relative;
  background-color: var(--pf-t--chatbot--background);

  // Title -or- Brand
  .pf-chatbot__title {
    img {
      max-height: 40px;
    }
  }
}

// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot--fullscreen {
  .pf-chatbot__header {
    padding-top: var(--pf-t--global--spacer--sm);
    padding-bottom: var(--pf-t--global--spacer--sm);
    background-color: var(--pf-t--global--background--color--primary--default);
  }
  .pf-chatbot__header__divider {
    display: none;
  }
}

// ============================================================================
// Chatbot Display Mode - Docked
// ============================================================================
.pf-chatbot--docked {
  .pf-chatbot__header {
    padding-top: var(--pf-t--global--spacer--sm);
    padding-bottom: var(--pf-t--global--spacer--sm);
    background-color: var(--pf-t--chatbot--background);
  }
  .pf-chatbot__header__divider {
    display: none;
  }
}

// ============================================================================
// Toggle Options
// ============================================================================
.pf-chatbot__button--toggle-options, .pf-chatbot__button--toggle-menu {
  width: 3rem;
  height: 3rem;
  border-radius: var(--pf-t--global--border--radius--pill);
  padding: var(--pf-t--global--spacer--md);

  .pf-v6-c-button__icon {
    color: var(--pf-t--chatbot--icon--fill);
  }

  // Interactive states
  &:hover, &:focus {
    .pf-v6-c-button__icon {
      color: var(--pf-t--chatbot--icon--fill--hover);
    }
  }
}
