// ============================================================================
// Chatbot Content
// ============================================================================
.pf-chatbot__content {
  position: relative;
  background-color: var(--pf-t--chatbot--background);
  overflow-y: auto;
  overflow: hidden; // needed in Red Hat Developer Hub workspace
  flex: 1; // needed in Composer AI
}

// ============================================================================
// Chatbot Display Mode - Fullscreen and Embedded
// ============================================================================
@media screen and (min-width: 64rem) {
  .pf-chatbot--fullscreen,
  .pf-chatbot--embedded {
    .pf-chatbot__content {
      display: flex;
      justify-content: center;
    }
  }
}
