// shared
.pf-chatbot__feedback-card {
  box-shadow: var(--pf-t--global--box-shadow--sm);
  --pf-v6-c-card--BorderWidth: 0;
  max-width: 27.5rem; // fixme address mobile vs desktop
}

// complete card
.pf-chatbot__feedback-complete-body {
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--lg);
  align-items: center;
}
.pf-chatbot__feedback-complete-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--sm);
  --pf-v6-c-card--first-child--PaddingBlockStart: 0;
  --pf-v6-c-card__title--not--last-child--PaddingBlockEnd: 0;
}
.pf-chatbot__feedback-complete-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf-chatbot__feedback-complete-body {
  text-align: center;
}
.pf-chatbot__feedback-complete-title {
  font-family: var(--pf-t--global--font--family--heading);
  font-size: var(--pf-t--global--font--size--lg);
  font-weight: var(--pf-t--global--font--weight--body--bold);
  line-height: var(--pf-t--global--font--line-height--heading);
}

// feedback card
.pf-chatbot__feedback-card-title {
  font-family: var(--pf-t--global--font--family--heading);
  font-size: var(--pf-t--global--font--size--md);
  font-weight: var(--pf-t--global--font--weight--body--bold);
  line-height: var(--pf-t--global--font--line-height--heading);
}

.pf-chatbot__feedback-card-form {
  --pf-v6-c-form__group--m-action--MarginBlockStart: 0;
}

.pf-chatbot__feedback-card-optional {
  font-weight: initial;
}
