// ============================================================================
// Toggle Chatbot
// ============================================================================
.pf-v6-c-button.pf-chatbot__button {
  position: fixed;
  inset-block-end: var(--pf-t--global--spacer--md);
  inset-inline-end: var(--pf-t--global--spacer--md);
  background-color: var(--pf-t--global--background--color--inverse--default);
  --pf-v6-c-button__icon--Color: var(--pf-t--chatbot-toggle--color);
  padding: var(--pf-t--global--spacer--md);

  &:hover,
  &:focus {
    background-color: var(--pf-t--chatbot-toggle--background--hover);
  }

  .pf-v6-c-button__icon {
    display: contents;
  }

  // Icon
  svg {
    width: var(--pf-t--global--spacer--lg);
    height: var(--pf-t--global--spacer--lg);
  }
}

.pf-chatbot__button--round {
  border-radius: var(--pf-t--global--border--radius--pill);
  width: 3rem;
  height: 3rem;
}
