// ============================================================================
// Toggle Chatbot
// ============================================================================
.pf-v6-c-button.pf-chatbot__button {
  position: fixed;
  inset-block-end: var(--pf-t--global--spacer--md);
  inset-inline-end: var(--pf-t--global--spacer--md);
  background-color: var(--pf-t--chatbot-toggle--background);
  border-radius: var(--pf-t--global--border--radius--pill);
  color: var(--pf-t--chatbot-toggle--color);
  padding: var(--pf-t--global--spacer--md);
  width: 3rem;
  height: 3rem;

  &:hover, &:focus {
    background-color: var(--pf-t--chatbot-toggle--background--hover);
  }

  .pf-v6-c-button__icon {
    display: contents;
  }

  // Icon
  svg { width: var(--pf-t--global--spacer--lg); height: var(--pf-t--global--spacer--lg); }
  svg path:first-child { fill: var(--pf-t--chatbot-toggle--icon--fill); stroke: var(--pf-t--chatbot-toggle--icon--stroke); }
}

