.pf-chatbot__chatbot-modal-backdrop {
  position: static !important;
}

.pf-chatbot__chatbot-modal {
  --pf-v6-c-modal-box--BorderRadius: var(--pf-t--global--border--radius--medium) !important;
  position: fixed !important;
  inset-block-end: var(--pf-t--global--spacer--800); // no associated semantic token
  inset-inline-end: var(--pf-t--global--spacer--lg);
  width: 30rem !important;
  height: 70vh;
  background-color: var(--pf-t--global--background--color--secondary--default) !important;

  .pf-v6-c-modal-box__title {
    --pf-v6-c-modal-box__title--FontSize: var(--pf-t--global--font--size--heading--h3);
  }

  .pf-v6-c-modal-box__footer {
    padding-block-start: var(--pf-t--global--spacer--xl);
    padding-block-end: var(--pf-t--global--spacer--xl);
  }
  .pf-v6-c-modal-box__header {
    padding-block-end: var(--pf-t--global--spacer--lg);
  }
}

// ============================================================================
// Chatbot Display Mode - Fullscreen and Embedded
// ============================================================================
@media screen and (max-width: 600px) {
  .pf-chatbot__chatbot-modal--embedded,
  .pf-chatbot__chatbot-modal--fullscreen {
    inset-block-end: 0;
    inset-inline-end: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 601px) {
  .pf-chatbot__chatbot-modal--embedded,
  .pf-chatbot__chatbot-modal--fullscreen {
    inset-block-end: 0;
    inset-inline-end: 0;
    width: 50% !important;
    height: fit-content !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// ============================================================================
// Chatbot Display Mode - Default
// ============================================================================
.pf-chatbot__chatbot-modal--default {
  box-shadow: unset !important;
}

// ============================================================================
// Chatbot Display Mode - Docked
// ============================================================================
.pf-chatbot__chatbot-modal--docked {
  height: 100vh;
  inset-block-end: 0;
  inset-inline-end: 0;
  border-radius: 0 !important;
  --pf-v6-c-modal-box--MaxHeight: 100vh !important;
  box-shadow: unset !important;
}

// ============================================================================
// Dark theme
// ============================================================================
.pf-v6-theme-dark {
  .pf-v6-c-modal-box.pf-chatbot__chatbot-modal {
    .pf-v6-c-modal-box__title {
      color: #fff;
    }
  }
}

// ============================================================================
// Backdrop
// ============================================================================
.pf-v6-c-backdrop.pf-chatbot__backdrop {
  position: absolute;
}

.pf-chatbot__chatbot-modal-compact {
  .pf-v6-c-modal-box__header {
    padding-block-end: 0;
  }

  .pf-v6-c-modal-box__footer {
    padding-block-start: var(--pf-t--global--spacer--lg);
    padding-block-end: var(--pf-t--global--spacer--lg);
  }
}
