// ============================================================================
// Chatbot
// ============================================================================
.pf-chatbot {
  position: fixed;
  inset-block-end: var(--pf-t--global--spacer--800); // no associated semantic token
  inset-inline-end: var(--pf-t--global--spacer--lg);
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 70vh;
  background-color: var(--pf-t--global--background--color--floating--secondary--default);
  border-radius: var(--pf-t--global--border--radius--medium);
  box-shadow: var(--pf-t--global--box-shadow--lg);
  z-index: var(--pf-t--global--z-index--md);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
  &--hidden {
    pointer-events: none;
    opacity: 0;
    transform: translateY(16px);
  }
  &--visible {
    opacity: 1;
    transform: translateY(0);
  }

  border: var(--pf-t--global--border--width--regular) solid var(--pf-t--global--border--color--subtle);

  // 32 rem is the width of the overlay chatbot plus the insets
  // if the screen is smaller, we want to be 100%
  @media screen and (max-width: 32rem) {
    width: 100vw;
    inset-inline-end: 0;
  }

  // allows for zoom conditions; try zooming to 200% to see
  @media screen and (max-height: 518px) {
    overflow: auto;
  }

  &:not(&--default) {
    background-color: var(
      --pf-t--global--background--color--glass--primary--default,
      var(--pf-t--global--background--color--secondary--default)
    );
  }

  &:not(&--default):has(.pf-chatbot__content.pf-m-primary) {
    background-color: var(--pf-t--global--background--color--primary--default);
  }
}

:root:where(.pf-v6-theme-felt):not(.pf-v6-theme-glass) {
  .pf-chatbot.pf-chatbot--default {
    box-shadow: var(--pf-t--global--box-shadow--md);
  }
}

// ============================================================================
// Chatbot Display Mode - Docked
// ============================================================================
.pf-chatbot--docked {
  border: unset;
  border-left: var(--pf-t--global--border--width--regular) solid var(--pf-t--global--border--color--subtle);
  inset-block-end: 0;
  inset-inline-end: 0;
  padding: 0;
  height: 100%;
  border-radius: 0;
  overflow: inherit;

  @at-root :where(.pf-v6-theme-glass) & {
    border-left: var(--pf-t--global--border--width--glass--default) solid
      var(--pf-t--global--border--color--glass--default);
    box-shadow: var(--pf-t--global--box-shadow--md--left);
    backdrop-filter: var(--pf-t--global--background--filter--glass--blur--primary);
  }

  // 30rem is the width of the docked chatbot
  // if the screen is smaller, we want to be 100%
  @media screen and (max-width: 30rem) {
    width: 100%;
  }
}

// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot--fullscreen {
  border: unset;
  inset-block-end: 0;
  inset-inline-end: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;

  @at-root :where(.pf-v6-theme-glass) & {
    backdrop-filter: var(--pf-t--global--background--filter--glass--blur--primary);
  }
}

// ============================================================================
// Chatbot Display Mode - Embedded
// ============================================================================
.pf-chatbot--embedded {
  position: static;
  width: 100%;
  min-height: 100%;
  border-radius: 0;
  box-shadow: var(--pf-t--global--box-shadow--lg);

  @at-root :where(.pf-v6-theme-glass) & {
    border: var(--pf-t--global--border--width--glass--default) solid var(--pf-t--global--border--color--glass--default);
    box-shadow: var(--pf-t--global--box-shadow--md);
    backdrop-filter: var(--pf-t--global--background--filter--glass--blur--primary);
  }
}

.pf-chatbot-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--pf-t--global--border--radius--medium);
  overflow: hidden;

  // Hide chatbot
  &--hidden {
    pointer-events: none;
  }

  // allows for zoom conditions; try zooming to 200% to see
  @media screen and (max-height: 518px) {
    overflow: auto;
  }
}

// ============================================================================
// Chatbot With Docked Nav
// ============================================================================
.pf-chatbot--docked-nav {
  .pf-chatbot-container {
    flex-direction: row;
  }

  .pf-chatbot__header-container {
    display: none;
  }
}

.pf-chatbot-container--embedded {
  min-height: 100%;
}

.pf-chatbot-container--docked,
.pf-chatbot-container--embedded,
.pf-chatbot-container--fullscreen {
  border-radius: unset;
}

// ============================================================================
// Chatbot Display Mode - Drawer
// ============================================================================
.pf-chatbot--drawer {
  inset-block-end: 0;
  inset-inline-end: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  border-color: var(--pf-t--global--border--color--subtle);

  @at-root :where(.pf-v6-theme-glass) & {
    border: var(--pf-t--global--border--width--glass--default) solid var(--pf-t--global--border--color--glass--default);
    box-shadow: var(--pf-t--global--box-shadow--md);
    backdrop-filter: var(--pf-t--global--background--filter--glass--blur--primary);
  }

  .pf-chatbot-container {
    border-radius: var(--pf-t--global--border--radius--sharp);
  }
}

:root:where(.pf-v6-theme-high-contrast) {
  .pf-chatbot--drawer {
    border: unset;
  }
}
