.pf-chatbot__message-table {
  border-radius: var(--pf-t--global--border--radius--small);
  --pf-v6-c-table--BackgroundColor: var(--pf-t--global--background--color--tertiary--default);
  --pf-v6-c-table--BorderColor: var(--pf-t--global--border--color--default);
  padding: 0 var(--pf-t--global--spacer--lg) 0 var(--pf-t--global--spacer--lg);

  &.pf-m-grid.pf-v6-c-table tbody:where(.pf-v6-c-table__tbody):first-of-type {
    border-block-start: 0;
  }

  tbody {
    border-radius: var(--pf-t--global--border--radius--small);
  }

  tr {
    --pf-v6-c-table__tr--responsive--PaddingInlineEnd: 0;
    --pf-v6-c-table__tr--responsive--PaddingInlineStart: 0;
  }

  .pf-v6-c-table__tr:last-of-type {
    border-block-end: 0;
  }
}
