// ============================================================================
// Chatbot Layout - Chat - Welcome
// ============================================================================
.pf-chatbot--layout--welcome {
  padding-block-end: var(--pf-t--global--spacer--lg);
  padding-block-start: var(--pf-t--global--spacer--lg);

  .pf-v6-c-content--h1 {
    --pf-v6-c-content--h1--FontSize: var(--pf-t--global--font--size--3xl); // larger than any of our semantic tokens
    --pf-v6-c-content--h1--FontWeight: var(--pf-t--global--font--weight--400);
    --pf-v6-c-content--h1--MarginBlockEnd: 0;
  }

  .pf-chatbot__hello {
    color: var(--pf-t--global--color--brand--default);
  }

  .pf-chatbot__question {
    color: var(--pf-t--global--text--color--subtle);
  }
}
