// ============================================================================
// Chatbot Message
// ============================================================================
.pf-chatbot__message {
  --pf-t--chatbot-message--type--background--color--default: var(--pf-t--global--background--color--secondary--hover);
  --pf-t--chatbot-message--type--background--color--primary: var(--pf-t--global--color--brand--default);
  --pf-t--chatbot-message--type--padding: var(--pf-t--global--spacer--sm);
  --pf-t--chatbot-message--type--text--color--default: var(--pf-t--global--text--color--regular);
  --pf-t--chatbot-message--type--text--color--primary: var(--pf-t--global--text--color--inverse);
  --pf-t--chatbot-message--type--border--radius: var(--pf-t--global--border--radius--small);
  --pf-t--chatbot-message--meta--label--color: var(--pf-t--global--border--color--on-secondary);

  display: flex;
  align-items: flex-start;
  gap: var(--pf-t--global--spacer--lg);
  padding-bottom: var(--pf-t--global--spacer--sm);

  // Avatar
  // --------------------------------------------------------------------------
  .pf-v6-c-avatar {
    --pf-v6-c-avatar--Width: 3rem;
    --pf-v6-c-avatar--Height: 3rem;
    position: sticky;
    top: var(--pf-t--global--spacer--md);
    object-fit: cover;
  }

  // Contents
  // --------------------------------------------------------------------------
  &-contents {
    display: flex;
    flex-direction: column;
    gap: var(--pf-t--global--spacer--sm);
    width: 100%;
  }

  // Meta data
  // --------------------------------------------------------------------------
  &-meta {
    display: flex;
    align-items: center;
    gap: var(--pf-t--global--spacer--sm);

    // Author name
    .pf-chatbot__message-name {
      font-family: var(--pf-t--chatbot--heading--font-family);
      font-weight: 600;
      font-size: var(--pf-t--global--font--size--sm);
    }

    // Badge
    .pf-v6-c-label {
      --pf-v6-c-label--m-outline--BorderColor: var(--pf-t--chatbot-message--meta--label--color);
      --pf-v6-c-label--FontSize: var(--pf-t--global--font--size--xs);
      font-weight: 500;

      .pf-v6-c-label__content {
        --pf-v6-c-label--Color: var(--pf-t--chatbot-message--meta--label--color);
      }
    }

    // Timestamp
    time {
      font-size: var(--pf-t--global--font--size--xs);
    }
  }

  // Response content
  // --------------------------------------------------------------------------
  &-response {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--pf-t--global--font--size--sm);
    color: var(--pf-t--chatbot-message--type--text--color--default);
  }
}

@import './MessageLoading';
@import './CodeBlockMessage/CodeBlockMessage';
@import './TextMessage/TextMessage';
