// ============================================================================
// Chatbot Footer - Message Bar - Attach
// ============================================================================
.pf-v6-c-button.pf-chatbot__button--attach {
  border-radius: var(--pf-t--global--border--radius--pill);
  padding: var(--pf-t--global--spacer--md);
  width: 3rem;
  height: 3rem;

  .pf-v6-c-button__icon {
    color: var(--pf-t--chatbot--icon--fill);
  }

  // Interactive states
  &:hover, &:focus {
    .pf-v6-c-button__icon {
      color: var(--pf-t--chatbot--icon--fill--hover);
    }
  }
}
