// Import related component scss files.
@import './AttachButton';
@import './MicrophoneButton';
@import './SendButton';

// ============================================================================
// Chatbot Footer - Message Bar
// ============================================================================
.pf-chatbot__message-bar {
  min-height: 64px;
  background-color: var(--pf-t--global--background--color--primary--default);
  border-radius: calc(
    var(--pf-t--global--border--radius--medium) * 2
  ); // 32px corners - universal for single and multi-line height
  padding-inline-end: var(--pf-t--global--spacer--sm);
  transition: box-shadow var(--pf-t--chatbot--timing-function) var(--pf-t--global--motion--duration--sm);

  &-input {
    padding: var(--pf-t--global--spacer--sm) 0 var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--sm)
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--pf-t--global--border--color--default);
  }

  &:focus-within {
    box-shadow: inset 0 0 0 2px var(--pf-t--global--color--brand--default);
  }

  // Input
  // --------------------------------------------------------------------------
  &-input {
    align-self: stretch;
    display: flex;
    // align-items: center;
    flex-grow: 1;
    padding: calc(var(--pf-t--global--spacer--100) + var(--pf-t--global--spacer--300)) var(--pf-t--global--spacer--400);
  }
  .pf-chatbot__message-textarea {
    align-self: stretch;
    display: flex;
    // align-items: center;
    flex-grow: 1;
    max-width: 100%;
    max-height: 232px; // 8 rows + padding
    font-size: var(--pf-t--global--font--size--md);
    line-height: 24px;
  }

  //.pf-chatbot__message-textarea {
  //  --pf-v6-c-form-control--Resize: none;
  //  --pf-v6-c-form-control--before--BorderStyle: none;
  //  --pf-v6-c-form-control--after--BorderStyle: none;
  //  --pf-v6-c-form-control--PaddingBlockStart: 0;
  //  --pf-v6-c-form-control--PaddingBlockEnd: 0;
  //  --pf-v6-c-form-control--PaddingInlineStart: 0;
  //  --pf-v6-c-form-control--PaddingInlineEnd: 0;
  //  --pf-v6-c-form-control--BorderRadius: var(--pf-t--global--border--radius--small);
  //
  //  max-width: 100%;
  //  max-height: 232px; // 8 rows + padding
  //  font-size: var(--pf-t--global--font--size--md);
  //  line-height: 24px;
  //
  //  textarea:focus {
  //    outline: none;
  //    offset: none;
  //  }
  //
  //  textarea:focus-visible {
  //    outline: none;
  //  }
  //}
}
