// Import related component scss files.
@import './AttachButton';
@import './MicrophoneButton';
@import './SendButton';
@import './StopButton';

// ============================================================================
// Chatbot Footer - Message Bar
// ============================================================================

.pf-chatbot__message-bar {
  --pf-chatbot__message-bar-child--PaddingBlockStart: var(--pf-t--global--spacer--xs);
  --pf-chatbot__message-bar-child--PaddingBlockEnd: var(--pf-t--global--spacer--xs);

  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--pf-t--global--background--color--primary--default);
  border-radius: calc(var(--pf-t--global--border--radius--medium) * 2);
  transition: box-shadow var(--pf-t--chatbot--timing-function) var(--pf-t--global--motion--duration--sm);

  &:hover {
    box-shadow: inset 0 0 0 1px var(--pf-t--global--border--color--default);
  }

  &:focus-within {
    box-shadow: inset 0 0 0 2px var(--pf-t--global--color--brand--default);
  }

  &-actions {
    display: flex;
    justify-content: end;
    padding-block-start: var(--pf-chatbot__message-bar-child--PaddingBlockStart);
    padding-block-end: var(--pf-t--global--spacer--sm);
    gap: var(--pf-t--global--spacer--xs);
  }

  &-input {
    flex: 1 1 auto;
    padding-block-start: var(--pf-chatbot__message-bar-child--PaddingBlockStart);
    padding-block-end: var(--pf-chatbot__message-bar-child--PaddingBlockEnd);
  }
}

// - Form control textarea
.pf-chatbot__message-textarea {
  padding-block-start: var(--pf-t--global--spacer--md);
  padding-block-end: var(--pf-t--global--spacer--md);
  padding-inline-start: var(--pf-t--global--spacer--md);
  padding-inline-end: var(--pf-t--global--spacer--md);
  --pf-v6-c-form-control--before--BorderStyle: none;
  --pf-v6-c-form-control--after--BorderStyle: none;
  background-color: transparent;
  font-size: var(--pf-t--global--font--size--md);
  line-height: 1.5rem;
  max-height: 12rem;
  overflow-y: auto;
  display: block !important;

  .pf-v6-c-form-control__textarea:focus-visible {
    outline: none;
  }
}
