// ============================================================================
// Chatbot Footer - Message Bar - Microphone
// ============================================================================
.pf-v6-c-button.pf-chatbot__button--microphone {
  border-radius: var(--pf-t--global--border--radius--pill);
  padding: var(--pf-t--global--spacer--md);
  width: 3rem;
  height: 3rem;

  .pf-v6-c-button__icon {
    color: var(--pf-t--chatbot--icon--fill);
  }

  // Interactive states
  &:hover,
  &:focus {
    .pf-v6-c-button__icon {
      color: var(--pf-t--chatbot--icon--fill--hover);
    }
  }

  // Active state (while recording voice)
  &--active {
    background-color: var(--pf-t--color--blue--50);
    animation: motionMicButton var(--pf-t--chatbot--timing-function) calc(var(--pf-t--global--motion--duration--md) * 8)
      infinite;

    .pf-v6-c-button__icon {
      color: var(--pf-t--color--white);
    }

    &:hover,
    &:focus {
      .pf-v6-c-button__icon {
        color: var(--pf-t--color--white);
      }
    }
  }
}

@keyframes motionMicButton {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 102, 204, 1);
  }
  100% {
    box-shadow: 0 0 0 16px rgba(0, 102, 204, 0);
  }
}
