// ============================================================================
// Chatbot Footer - Message Bar - Send
// ============================================================================
.pf-v6-c-button.pf-chatbot__button--send {
  border-radius: var(--pf-t--global--border--radius--pill);
  padding: var(--pf-t--global--spacer--md);
  width: 3rem;
  height: 3rem;

  &:hover,
  &:focus {
    background-color: var(--pf-t--chatbot--blue-icon--background--color--hover);

    .pf-v6-c-button__icon {
      color: var(--pf-t--chatbot--blue-icon--fill--hover);
    }
  }
}

@keyframes motionSendButton {
  0% {
    opacity: 0;
    transform: translate3d(-8px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
