// ============================================================================
// Chatbot Footer - Message Bar - Send
// ============================================================================
.pf-v6-c-button.pf-chatbot__button--send {
  border-radius: var(--pf-t--global--border--radius--pill);
  padding: var(--pf-t--global--spacer--md);
  width: 3rem;
  height: 3rem;

  .pf-v6-c-button__icon {
    --pf-v6-c-button__icon--Color: var(--pf-t--global--color--brand--default);
  }

  &:hover,
  &:focus {
    background-color: var(--pf-t--chatbot--blue-icon--background--color--hover);
    color: var(--pf-t--global--color--brand--hover);

    .pf-v6-c-button__icon {
      color: var(--pf-t--chatbot--blue-icon--fill--hover);
    }
  }
}

.pf-v6-theme-dark {
  .pf-v6-c-button.pf-chatbot__button--send {
    background-color: var(--pf-t--global--color--brand--default);
    .pf-v6-c-button__icon {
      --pf-v6-c-button__icon--Color: var(--pf-t--global--icon--color--inverse);
    }
  }

  .pf-v6-c-button:disabled.pf-chatbot__button--send:disabled {
    --pf-v6-c-button--disabled--Color: var(--pf-t--global--icon--color--disabled);
    background-color: var(--pf-t--global--background--color--disabled--default);
  }

  .pf-v6-c-button.pf-chatbot__button--send:hover,
  .pf-v6-c-button.pf-chatbot__button--send:focus {
    background-color: var(--pf-t--chatbot--blue-icon--background--color--hover);
  }
}

@keyframes motionSendButton {
  0% {
    opacity: 0;
    transform: translate3d(-8px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
