// ============================================================================
// Chatbot Main - Message - Content - Text
// ============================================================================

.pf-chatbot__message-ordered-list,
.pf-chatbot__message-unordered-list {
  width: fit-content;
  padding: var(--pf-t--global--spacer--sm) 0 var(--pf-t--global--spacer--sm) 0;
  border-radius: var(--pf-t--global--border--radius--small);

  .pf-v6-c-list,
  ul,
  li {
    font-size: var(--pf-t--global--font--size--md);
  }
}

.pf-chatbot__message--user {
  .pf-chatbot__message-ordered-list,
  .pf-chatbot__message-unordered-list {
    background-color: var(--pf-t--global--color--brand--default);
    color: var(--pf-t--global--text--color--on-brand--default);
    padding: var(--pf-t--global--spacer--sm);
  }
}
