.pf-chatbot__response-actions {
  display: grid;
  gap: var(--pf-t--global--spacer--xs);
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));

  .pf-v6-c-button {
    --pf-v6-c-button__icon--Color: var(--pf-t--global--icon--color--subtle);
    border-radius: var(--pf-t--global--border--radius--pill);
    width: 2.3125rem;
    height: 2.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      --pf-v6-c-button__icon--Color: var(--pf-t--global--icon--color--subtle);
    }
    &:focus {
      --pf-v6-c-button--hover--BackgroundColor: var(--pf-t--global--background--color--action--plain--alt--clicked);
      --pf-v6-c-button__icon--Color: var(--pf-t--global--icon--color--regular);
    }
  }
}

.pf-v6-c-button.pf-chatbot__button--response-action-clicked {
  --pf-v6-c-button--m-plain--BackgroundColor: var(--pf-t--global--background--color--action--plain--alt--clicked);
  --pf-v6-c-button__icon--Color: var(--pf-t--global--icon--color--regular);
}
